_temp/
bower_components/
src/components
node_modules/
*.[Cc]ache
*.sass-cache
dist/

#[SUBLIME TEXT]
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

#[WINDOWS]
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk