/**
 * _board.scss
 */

#game-board-wrap {
  margin: 0 auto;
  position: relative;
}
#game-board {
  display: block;
  height : 400px;
  margin : 0 auto;
  width  : 400px;
}

#start-menu, #end-menu {
  display: none;
}

.game-menu {
  left     : 25%;
  position : absolute;
  top      : 25%;
}